<h1>Feeds</h1>

<% if @feeds.any? %>
  <table class="feed-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Filter</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
        <% @feeds.each do |feed| %>
          <tr>
            <td><%= link_to feed.name, feed_path(feed) %></td>
          <td>
            <span class="muted">
              <% if feed.episode_query.present? || feed.segment_query.present? %>
                <%= [
                  ("Episode: #{feed.episode_query}" if feed.episode_query.present?),
                  ("Segment: #{feed.segment_query}" if feed.segment_query.present?)
                ].compact.join(' / ') %>
              <% else %>
                No query
              <% end %>
            </span>
          </td>
          <td><%= link_to 'RSS', rss_feed_path(uid: feed.uid, format: :rss) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No feeds yet.</p>
<% end %>
