<h1>Create a new feed</h1>

<p>
  <% if @show_external_id.present? %>
    <strong>Selected show ID:</strong> <%= @show_external_id %>
  <% else %>
    Select a show from <%= link_to 'search', search_path %> first.
  <% end %>
</p>

<%= render 'form', feed: @feed %>

<p><%= link_to 'Back to feeds', feeds_path %></p>
